@import "normalize";

// /* Traditional scale */
// 6  = 0.375em
// 7  = 0.4375em
// 8  = 0.5em
// 9  = 0.5625em
// 10 = 0.625em
// 11 = 0.6875em
// 12 = 0.75em
// 14 = 0.875em
// 16 = 1em
// 18 = 1.125em
// 21 = 1.3125em
// 24 = 1.5em
// 36 = 2.25em
// 48 = 3em
// 60 = 3.75em
// 72 = 4.5em

// css3 - transition
@mixin transition($property, $length)
{
	-webkit-transition: $property $length ease-out;
	-moz-transition: $property $length ease-out;
	-o-transition: $property $length ease-out;
	transition: $property $length ease-out;	
}

$red : #b92d19;

/**
 * base styles
 */
body {
  -webkit-font-smoothing: antialiased;
  font: 100% "Helvetica Neue", Verdana, Arial, sans-serif;
  line-height: 1.4;
	background-color: #000;
	margin: 0;
	padding: 0;
}
a {
	color: $red;
	text-decoration: none;
	&:hover {
		border-bottom: 1px solid $red;
	}
}
.inline, .inline li {
	display: inline-block;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/* bkgd/text */
.white { // white background
	background-color: #fff;
	color: #222; // black text
	footer {
		color: #666;
		&:hover {
			color: #222;
		}
	}
}
.black { // black background
	background-color: #000;
	color: #fff; // white text
	footer {
		color: #888;
		// &:hover {
			// color: #ccc;
		// }
	}
}

/* header */
// title, about page
header {
	margin: 2em;
	font-size: 0.75em;
	margin-bottom: 1.5em;
}
h1 {
	margin-bottom: 0;
}


/* footer */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-bottom: 1em;
	font-size: 0.875em;
	@include transition(color, 0.3s);
}
.keyboard {
	font-family: "aa QWERTZ-Tasten", "Comic Sans";
	font-size: 2em;
	line-height: 1.2;
	margin: 0;
	span:nth-child(1) { margin-right: 0.5em; }
	span:nth-child(2) { margin: 0 0.875em 0 0.5em; }
	span:nth-child(3) { margin-right: 0.5em; }
}
.middle {
	// margin: 0 1em;
}


// interface styles
#synth { float: left; }
#visualizer_controls { 
	float: right;
	margin: 0;
}
.interface {
	@extend .cf;
	margin: 2em;
	font-size: 0.75em;
	opacity: 0.5;
	&:hover { 
		opacity: 1; 
		@include transition(opacity, 1s);
	}
	@include transition(opacity, 1s);
	@include transition(color, 0.3s);
	h2 { font-size: 1em; }
	dt { font-weight: bold; }
	dd {
		margin-left: 0;
		margin-bottom: 1em;
	}
	ul {
		margin: 0;
		padding-left: 0;
	}
	li {
		list-style-type: none;
		margin-right: 1em;
	}
}

// canvas styles
canvas {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}